/*
 * Copyright 2013-2020 smartics, Kronseder & Reiner GmbH
 *
 * Commercial License.
 */
/*
 * Styles for projectdoc Aside Panels
 */


.projectdoc-aside-panel.projectdoc-panel-riskmgmt {
	border-color: #CC9966;
}
.projectdoc-aside-panel.projectdoc-panel-riskmgmt .projectdoc-aside-panel-header {
	background-color: #CC9966;
	border-bottom-color: #CC9966;
	border-bottom-width: 1px;
	color: white;
	border-width: 0px;
}
.projectdoc-aside-panel.projectdoc-panel-riskmgmt .projectdoc-aside-panel-content {
	border-width: 0px;
  background-color: white;
}
